<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" 
        android:targetSdkVersion="23"/>

    <!-- 设置相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    
    <!-- 监听呼入和呼出权限 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.firstandroid.IndexActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.firstandroid.MainActivity" >
        </activity>
        <activity android:name="com.example.firstandroid.RadioCheckBoxActivity" >
        </activity>
        <activity android:name="com.example.firstandroid.RatingSeekActivity" >
        </activity>
        <activity android:name="com.example.firstandroid.SaveAndRecoverActivity" >
        </activity>
        <activity android:name="com.example.firstandroid.DataDeliveryByIntent" >
        </activity>
        <activity android:name="com.example.firstandroid.DataDeliveryByBundle" >
        </activity>
        <activity android:name="com.example.firstandroid.StartActivityForRequest" >
        </activity>
        <activity android:name="com.example.firstandroid.Camera" >
        </activity>
        <activity android:name="com.example.firstandroid.SendBroadcast" >
        </activity>
        <activity android:name="com.example.firstandroid.DynamicRegisterBroadcastReceiver" >
        </activity>
        <activity android:name="com.example.firstandroid.BarcodeScaner" >
        </activity>
        <activity android:name="com.example.firstandroid.ThreadActivity" >
        </activity>
        <activity android:name="com.example.firstandroid.StartService" >
        </activity>
        <activity android:name="com.example.firstandroid.BindService" >
        </activity>
        <activity android:name="com.example.firstandroid.StartAndBindService" >
        </activity>
        <activity android:name="com.example.firstandroid.RemoteService" >
        </activity>
        
        <service android:name="com.example.service.Service01"></service>
        <service android:name="com.example.service.BindService"></service>
        <service android:name="com.example.service.StartAndBindService"></service>
        <service android:name="com.example.service.RemoteService"></service>
        <service android:name="com.example.service.AidlService"></service>
        
        <receiver android:name="com.example.broadcast.MyBroadcastReceiver" android:exported="false">
            <!-- priority设置优先级 -->
			<intent-filter android:priority="1000">
			   <action android:name="com.test.broadcast"/>
			   <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
			   <action android:name="android.intent.action.PHONE_STATE"/>
			</intent-filter>            
        </receiver>
    </application>

</manifest>